.wrapper {
  height: 100%;
  color: aliceblue;
  font-size: 4rem;
  text-shadow: 0 0 30px #FF0000, 0 0 50px #0000FF;
}
app-card {
  margin-bottom: 4rem;
  text-shadow: none;
  //width: 250px;
}
.clickable:hover {
  cursor: pointer;
}
:host {
    margin-top: 22rem;
}
